@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.main-container{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    min-width: 960px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .todo-list,
    .quiz-app,
    .password-generator{
        background-image: linear-gradient(to bottom top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        width: 300px;
        height: 350px;
        margin: 2rem;
        border-radius: 15px 0 15px;
        box-shadow: 0px 0px 31px 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        text-align: center;
        a{
            text-decoration: none;
            color: #FFFAEC;
            font-size: 1.5rem;
        }
    }
}
